h1 {
  font-size: 100px;
  font-family: fantasy;
  border-radius: 100px;
  color: pink;
  background-color: purple;
  width: 75%;
  padding: 5%;
}

#column_one {
  font-size: 40px;
  color: white;
  background-color: orange;
  border-radius: 100px;
  float: left;
  width: 40%;
  padding: 3%;
}

#column_two {
  font-size: 40px;
  color: white;
  background-color: orange;
  border-radius: 100px;
  border-style: groove;
  border-color: purple;
  float: right;
  width: 40%;
  padding: 3%;
}

#column_three {
  font-size: 40px;
  color: white;
  background-color: orange;
  border-radius: 100px;
  border-color: purple;
  float: right;
  width: 80%;
  padding: 3%;
}

p {
  font-size: 20px;
  color: brown;
  background-color: pink;
  border-width: medium;
  border-color: brown;
  width: 65%;
  padding: 3%;
}
