#column_one {
  font-size: 40px;
  color: white;
  background-color: orange;
  border-radius: 100px;
  float: left;
  width: 40%;
  padding: 3%;
}

#column_two {
  font-size: 40px;
  color: white;
  background-color: orange;
  border-color: purple;
  float: right;
  width: 40%;
  padding: 3%;
}

#column_three {
  font-size: 40px;
  color: white;
  background-color: orange;
  border-radius: 100px;
  border-color: purple;
  float: right;
  width: 100%;
  padding: 3%;
}
